* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main_details_card {
    border: 1px solid black;
    box-shadow: 5px 5px 1px rgb(0 0 0 / 90%);
    padding: 12px;
    border-radius: 8px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.h_w {
    text-align: start;
}

.stats {
    text-align: start;
    padding-top: 10px;
}

.stats li {
    padding-left: 12px;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: calc(20px + 1vw);
}


/* Reset styles just for these icon buttons */
.favoriteButton,
.comparisonButton {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

/* Heart icon styles */
.heartFilled {
    fill: red;
    stroke: red;
}

.heartOutlined {
    fill: none;
    stroke: black;
}

/* Scale (⚖️) icon styles */
.scaleFilled {
    fill: #5ccdf6;
    stroke: #5ccdf6;
}

.scaleOutlined {
    fill: none;
    stroke: black;
    ;
}